{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur Green Garden !</h1>
    </br>
    <p>Green Garden est un projet d'étude visant à mettre des particuliers ou autre disposant d'un jardin ou d'une parcelle de terre cultivable à d'autres personne voulant s'adonner au jardinage.</p>

    <p>Il s'agit actuellement d'une version expérimentale visant à mettre un maximum d'outil permettant de mener à bien son labeur.</p>

    <p>Vous trouverez forcément un jardin près de chez vous, ou vous proposerez un jardin à votre tour un jour. Quoiqu'il en soit, Green Garden vous invite à jeter un oeuil  sur nos implentation dans la carte ci-dessous.</p> 
    <p>A vos arrosoir !</p>




    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/ubuntu/dev/my_project_name/src/Controller/HomePageController.php'|file_link(0) }}">src/Controller/HomePageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/ubuntu/dev/my_project_name/templates/home_page/index.html.twig'|file_link(0) }}">templates/home_page/index.html.twig</a></code></li>
    </ul> #}
</div>
{% endblock %}
