{% extends 'base.html.twig' %}

{% block title %}Todolist{% endblock %}

{% block body %}
    <h1>Todolist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ todolist.name }}</td>
            </tr>
            {% for task in todolist.tasks %}
            <tr>
                <td>{{ task.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h5>{{todolist.tasks | length}}
                    tache(s) :</h5>

                {{ form_start(taskForm, {'method': 'post', 'action': path('todolist_show', {'id': todolist.id}) }) }}
                {{ form_row(taskForm.name, {'attr': {'placeholder':"Votre nouvelle tâche"}})}}

                <button type="submit" class="btn btn-success">Ajouter</button>

                {{ form_end(taskForm) }}





    <a href="{{ path('todolist_index') }}">back to list</a>

    <a href="{{ path('todolist_edit', {'id': todolist.id}) }}">edit</a>

    {# {{ include('todolist/_delete_form.html.twig') }} #}
{% endblock %}
