<form method="post" action="{{ path('garden_delete', {'id': garden.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garden.id) }}">
    <button class="btn btn-danger" title = "Delete"><i class="fas fa-trash-alt"></i></button>
</form>