{% extends 'base.html.twig' %}

{% block title %}Garden index
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Garden index</h1>

        <!-- Page Features -->

        <div class="row text-center">
            {% for garden in gardens %}

                {# <div class="col-lg-4   col-md-8 mb-8 d-flex">
                                                                      <div class="card flex-fill">
                                                                        <img class="card-img-top mx-auto" src="{{asset('uploads/gardens/pictures/'~garden.picture)}}" alt="">
                                                                        <div class="card-body">
                                                                          <h4 class="card-title">{{ garden.name }}</h4>
                                                                          <p class="card-text">{{garden.content[:20]}} ...</p>
                                                                          <p class="card-text">{{garden.category}}</p>
                                                                        </div>
                                                                        <div class="card-body">
                                                                          <p class="card-text">{{ garden.createdAt ? garden.createdAt|date('d-m-Y') : '' }}</p>
                                                                        </div>
                                                                        <div class="card-footer">
                                                                          <a {{ path('garden_show', {'id': garden.id}) }}" class="btn btn-primary">découvrir le jardin</a> class="btn btn-primary">découvrir le jardin</a> #}
                {# <a href="{{ path('garden_edit', {'id': garden.id}) }}" class="btn btn-warning">edit</a> #}
                {# </div>
                                                                      </div>
                                                                    </div> #}


                    <div class="col-md-4 d-flex"> <div class="flex-fill">
                        <div class="item-box-blog">
                            <div
                                class="item-box-blog-image">
                                <!--Date-->
                                <div class="item-box-blog-date bg-blue-ui white">
                                    <span class="mon">{{ garden.createdAt ? garden.createdAt|date('d-m-Y') : '' }}</span>
                                </div>
                                <!--Image-->
                                <figure>
                                    <img alt="" src="{{asset('uploads/gardens/pictures/'~garden.picture)}}">
                                </figure>
                            </div>
                            <div
                                class="item-box-blog-body">
                                <!--Heading-->
                                <div class="item-box-blog-heading">
                                    <a href="#" tabindex="0">
                                        <h5>{{ garden.name }}</h5>
                                    </a>
                                </div>
                                <!--Data-->
                                <div class="item-box-blog-data" style="padding: px 15px;">
                                    <p>
                                        <i class="fa fa-user-o"></i>
                                        {{ garden.author}}
                                        <i class="fa fa-comments-o"></i>
                                        Comments({{ garden.comments | length}})</p>
                                </div>
                                <!--Text-->
                                <div class="item-box-blog-text">
                                    <p>{{garden.content | truncate(100, true)}}</p>
                                </div>
                                <div class="mt">
                                    <a href="{{ path('garden_show', {'id': garden.id}) }}" tabindex="0" class="btn bg-blue-ui white read">read more</a>
                                </div>
                                <!--Read More Button-->
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</div>{% endblock %}
