{% extends 'base.html.twig' %}

{% block title %}Garden
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3" id="product-page">
                    <h3 class="card-header">{{garden.name}}
                        <a href="{{ path('garden_edit', {'id': garden.id}) }}" alt="Edit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>


                        <form method="post" action="{{ path('garden_delete', {'id': garden.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garden.id) }}">
                            <button class="btn btn-danger" title="Delete">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>

                        {# {{ include('garden/_delete_form.html.twig') }} #}
                    </h3>
                    <img style="height: 710 px; width: 100%; display: block;" src="{{asset('uploads/gardens/pictures/'~garden.picture)}}" alt="Card image">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                            </div>
                            <p class="mb-1">
                                {{garden.content}}
                            </p>
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Catégorie:
                            {{garden.category.name}}</li>
                        <li class="list-group-item">Surface:
                            {{garden.area}}
                            m²</li>
                        <li class="list-group-item">Auteur:
                            {{garden.author}}</li>
                        <li class="list-group-item">Date de création:
                            {{ garden.createdAt |date('d-m-Y') }}</li>
                    </ul>
                </div>
            </div>

            {% if garden.todo %}
                <div class="col-md-4">
                    <div class="card mb-3" id="product-page">
                        <h3 class="card-header">{{garden.todo.name}}
                            <a href="{{ path('todolist_edit', {'id': garden.todo.id}) }}" alt="Edit">
                                <i class="fas fa-pencil-alt"></i>
                            </a>


                        </h3>
                        {% for task in garden.todo.tasks %}


                            <div class="row">

                                <div class="col-8">{{ task.name }}</div>

                                <div class="col-4">
                                    <a class="btn btn-primary" href="{{ path('task_edit', {'id': task.id}) }}" alt="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>

                                    <a class="btn btn-danger" href="{{ path('task_delete', {'id': task.id}) }}" alt="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>

                                </div>

                            </div>
                            <hr>

                        {% endfor %}


                        {{ form_start(taskForm, {'method': 'post', 'action': path('garden_show', {'id': garden.id}) }) }}
                        {{ form_row(taskForm.name, {'attr': {'placeholder':"Votre nouvelle tâche"}})}}


                        <button type="submit" class="btn btn-success">Ajouter</button>

                        {{ form_end(taskForm) }}

                    </div>
                </div>
            {% else %}
                <div class="col-md-4">
                    <div class="card mb-3" id="product-page">
                        <h3 class="card-header">Ajouter une todolist</h3>
                        <div class="list-group">
                            <ul class="list-group list-group-flush">
                                {{ form_start(todolistForm, {'method': 'post', 'action': path('garden_show', {'id': garden.id}) }) }}
                                {{ form_row(todolistForm.name, {'attr': {'placeholder':"Votre commentaire"}})}}

                                <button type="submit" class="btn btn-success">Ajouter</button>

                                {{ form_end(todolistForm) }}
                            </ul>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3" id="product-page">
                    <h3 class="card-header">Les fichiers joints ({{garden.uploads | length}})</h3>

                    {% for upload in garden.uploads %}

                        <div class="upload">
                            <div class="row">
                                <div class="col-md-9">
                                    <a href="{{asset('uploads/gardens/pictures/'~upload.file)}}" target="_blank">
                                        {{ upload.title }}
                                    </a>
                                </div>
                                <div class="col-md-3">

                                    <a class="btn btn-danger" href="{{ path('upload_delete', {'id': upload.id}) }}" alt="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>

                    {% endfor %}


                    <h5>{{garden.uploads | length}}
                        document(s) :</h5>

                    {{ form_start(uploadForm, {'method': 'post', 'action': path('garden_show', {'id': garden.id}) }) }}
                    {{ form_row(uploadForm.file, {'attr': {'placeholder':"Votre document"}})}}

                    <button type="submit" class="btn btn-success">Ajouter</button>

                    {{ form_end(uploadForm) }}

                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-3" id="product-page">
                    <h3 class="card-header">Les évènements ({{garden.customevents | length}})</h3>

                    {% for customevent in garden.customevents %}

                        <div class="upload">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>
                                        - {{ customevent.title }} : </br>
                                        Du {{ customevent.beginAt |date('d-m-Y à H:m') }} au {{ customevent.endAt |date('d-m-Y à H:m') }}.

                                    </p>
                                </div>
                                <div class="col-md-4">

                                    <a class="btn btn-primary" href="{{ path('custom_event_edit', {'id': customevent.id}) }}" alt="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a class="btn btn-danger" href="{{ path('custom_event_delete', {'id': customevent.id}) }}" alt="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>

                    {% endfor %}

                    

                    <button class="btn btn-link" data-toggle="collapse" data-target="#form-event">Formulaire d'évènement</button>

                    <div id="form-event" class="collapse">

                        <h5>{{garden.customevents | length}}
                            évènement(s) :</h5>

                        {{ form_start(customeventForm, {'method': 'post', 'action': path('garden_show', {'id': garden.id}) }) }}
                        {{ form_row(customeventForm.title , {'attr': {'placeholder':"Titre de l'évènement"}})}}
                        {{ form_row(customeventForm.beginAt , {'attr': {'placeholder':"Date de début"}})}}
                        {{ form_row(customeventForm.endAt , {'attr': {'placeholder':"Date de fin"}})}}

                        <button type="submit" class="btn btn-success">Ajouter</button>

                        {{ form_end(customeventForm) }}

                    </div>
                    <a class="btn btn-link" href="{{ path('custom_event_calendar')}}">Voir le calendrier</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <div class="card mb-3" id="product-page">
                <h3 class="card-header">Commentaires ({{garden.comments | length}})</h3>

                <button class="btn btn-link" data-toggle="collapse" data-target="#comment-hide">Lire les commentaires</button>

                <div id="comment-hide" class="collapse">


                    {% for comment in garden.comments %}

                        <div class="comment">
                            <div class="row">
                                <div class="col-3">
                                    {{ comment.author }}
                                    {{ comment.createdAt |date('d-m-Y') }}
                                </div>
                                <div class="col-7">
                                    {{ comment.content | raw }}
                                </div>
                                <div class="col-2">

                                    <a class="btn btn-primary" href="{{ path('comment_edit', {'id': comment.id}) }}" alt="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>

                                    <a class="btn btn-danger" href="{{ path('comment_delete', {'id': comment.id}) }}" alt="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>

                    {% endfor %}


                    <h5>{{garden.comments | length}}
                        commentaire(s) :</h5>

                    {{ form_start(commentForm, {'method': 'post', 'action': path('garden_show', {'id': garden.id}) }) }}
                    {{ form_row(commentForm.content, {'attr': {'placeholder':"Votre commentaire"}})}}

                    <button type="submit" class="btn btn-success">Commenter</button>

                    {{ form_end(commentForm) }}

                </div>
            </div>
        </div>


    </div>
{% endblock %}
