<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ asset('./css/main.css' )}}"> 


    {% block stylesheets %} {% endblock %}
</head>







<body>
    {% include './layout/navbar.html.twig' %}
    {% include './layout/header.html.twig' %}
    
  
        {% block body %}{% endblock %}
    

<div class="container-fluid container-footer">
    {% include './layout/footer.html.twig' %}
    </div>
    {% block footer %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>


<script src="https://kit.fontawesome.com/1d5f73171f.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="{{ asset('./js/jquery-3.4.1.slim.min.js' )}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
    integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
    crossorigin="anonymous"></script>
<script src="{{ asset('./js/script.js' )}}"></script>
<script src="{{ asset('./js/popper.min.js' )}}"></script>
<script src="{{ asset('./js/jquery.tablesorter.js' )}}"></script>
<script src="{{ asset('./js/swiper.min.js' )}}"></script>
<script src="{{ asset('./js/boosted.min.js' )}}"></script>


</html>