{% extends 'base.html.twig' %}

{% block title %}Edit CustomEvent{% endblock %}

{% block body %}
    <h1>Edit CustomEvent</h1>

    {{ include('custom_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('custom_event_index') }}">back to list</a>

    {{ include('custom_event/_delete_form.html.twig') }}
{% endblock %}
