{% extends 'base.html.twig' %}

{% block title %}CustomEvent index{% endblock %}

{% block body %}
    <h1>CustomEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for custom_event in custom_events %}
            <tr>
                <td>{{ custom_event.id }}</td>
                <td>{{ custom_event.beginAt ? custom_event.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ custom_event.endAt ? custom_event.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ custom_event.title }}</td>
                <td>
                    <a href="{{ path('custom_event_show', {'id': custom_event.id}) }}">show</a>
                    <a href="{{ path('custom_event_edit', {'id': custom_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('custom_event_new') }}">Create new</a>
{% endblock %}
