{% extends 'base.html.twig' %}

{% block title %}New CustomEvent{% endblock %}

{% block body %}
    <h1>Create new CustomEvent</h1>

    {{ include('custom_event/_form.html.twig') }}

    <a href="{{ path('custom_event_index') }}">back to list</a>
{% endblock %}
