{% extends 'base.html.twig' %}

{% block title %}CustomEvent{% endblock %}

{% block body %}
    <h1>CustomEvent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ custom_event.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ custom_event.beginAt ? custom_event.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ custom_event.endAt ? custom_event.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ custom_event.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('custom_event_index') }}">back to list</a>

    <a href="{{ path('custom_event_edit', {'id': custom_event.id}) }}">edit</a>

    {{ include('custom_event/_delete_form.html.twig') }}
{% endblock %}
