{% block navbar %}




<header role="banner">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar"
                aria-controls="collapsing-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="{{path('home')}}" aria-current="page">Green
                            Garden</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Jardin</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="{{path('garden_index')}}">Voir les jardins</a></li>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li><a class="dropdown-item" href="{{path('garden_new')}}">Ajouter un jardin</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="{{path('user_index')}}">Gérer les utilisateurs</a></li>
                            <li><a class="dropdown-item" href="{{path('garden_index')}}">Gérer les jardins</a></li>
                            <li><a class="dropdown-item" href="{{path('category_index')}}">Gérer les catégories</a></li>
                            <li><a class="dropdown-item" href="{{path('comment_index')}}">Gérer les commentaires</a></li>
                            <li><a class="dropdown-item" href="{{path('upload_index')}}">Gérer les documents</a></li>
                            <li><a class="dropdown-item" href="{{path('custom_event_index')}}">Gérer les évènements</a></li>
                            <li><a class="dropdown-item" href="{{path('todolist_index')}}">Gérer les todolists</a></li>
                            <li><a class="dropdown-item" href="{{path('task_index')}}">Gérer les tâches</a></li>
                        </ul>
                    </li>
                    {% endif %}
               
                </ul>
                <ul class="navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                        <li class="nav-item"><a href="{{path('user_new')}}" class="nav-link">Inscription</a></li>
                        <li class="nav-item"><a href="{{path('app_login')}}" class="nav-link">Connection</a></li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item"><a href="{{path('app_logout')}}" class="nav-link">Deconnection</a></li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>




{% block javascripts %}{% endblock %}


{% endblock %}